<div class="alert alert-info">

# خلاقیت الگوریتمی و برنامه‌نویسی پایتون
- https://zil.ink/sharif_python

<div class="alert alert-success">

### Recorded Video
- https://ocw.sharif.edu/course/id/522

### Telegram Channel
- https://t.me/sharif_python
</div>
    
<div class="alert alert-warning">

### Bebras
- http://practice.learn-python.ir/hw1
- http://practice.learn-python.ir/hw2
- http://practice.learn-python.ir/hw3

### Quera (Juniora)
- https://quera.org/r/tp1i7
- https://quera.org/college/land/college/11644

</div>


### Recorded class video
- https://b2n.ir/h25169

</div>

<div class="alert alert-info">
    
### Class
- Tuesday
    - https://mohit.online/event/ky6n1r/lobby
- Friday
    - https://mohit.online/event/o1xfyz/lobby
</div>

<div class="alert alert-info">

- ### Mail: mahdih3idari@gmail.com
- ### Phone: 09116410752
- ### Telegram: @mheidari98
- ### Discord: @mheidari98

</div>

## Python IDE/Editor Installation
### Online Coding
- https://colab.research.google.com
- https://www.onlinegdb.com/online_python_compiler
- https://www.online-python.com
- https://www.mycompiler.io

### Mobile
- Pydroid
    - https://play.google.com/store/apps/details?id=ru.iiec.pydroid3

- QuickEdit Text Editor
    - https://play.google.com/store/apps/details?id=com.rhmsoft.edit

- QPython
    - https://github.com/qpython-android/qpython
-  Sololearn: Learn to Code
    - 💡GET IT ON Google play
        - https://play.google.com/store/apps/details?id=com.sololearn&hl=en
    - 💡Download on the App Store 
        - https://apps.apple.com/us/app/sololearn-learn-to-code/id1210079064
    - 💡Learn on the Web
        - https://www.sololearn.com/Courses

## print

In [1]:
print("salam donya")

salam donya

## comment

In [2]:
# this is comment

## Data-types and Variables in Python: Declaration and Use

| &nbsp;  |      Data Type    |   Example   | 
|:--------|:-----------------:|:------------|
|Number   | Integer           | x = 4       |
| &nbsp;  | Floating point    | x = 3.142   | 
| &nbsp;  | Boolean           | x = True    |
|Text     | Character         | x = 'c'     |
| &nbsp;  | String            | x = "this" or x = 'this' |

In [3]:
x = 4              # integer
print(x, type(x))

4 <class 'int'>

In [4]:
z = 3.7            # floating point
print(z, type(z))

3.7 <class 'float'>

In [5]:
y = True           # boolean (True, False)
print(y, type(y))

True <class 'bool'>

In [6]:
s1 = "This is a string"    # string
print(s1, type(s1))

This is a string <class 'str'>

In [7]:
s2 = 'This is also a string'    # string
print(s2, type(s2))

This is also a string <class 'str'>

In [8]:
s3 = """this is
multi line
string"""

print(s3, type(s3))

this is
multi line
string <class 'str'>

## Typecasting in Python

| converter  |   Example   | 
|:--------|:------------|
|str(sth) -> str   | str(15) or str(4.3)  |
|int(x, base=10) -> integer   | int("12") or int(23.7)  |
|float(x) -> float   | float("16") or float(4)  |
|bool(x) -> bool   | bool(15) or bool(0)  |

In [9]:
a = "15"

print( a + 5 )

TypeError: can only concatenate str (not "int") to str

In [10]:
b = int(a)

print( b + 5 )

20

## Operators in Python: Assignment, Logical, Arithmetic

In [11]:
x = 11

y1 = x + 5       # addition 
y2 = x - 4       # subtraction
y3 = x * 3       # multiplication
y4 = x / 2       # division

print(x, y1, y2, y3, y4)

11 16 7 33 5.5

In [12]:
y5 = x // 2      # integer division
y6 = x % 2       # modulo (remainder) operator

print(x, y5, y6)

11 5 1

In [13]:
z = 4
z1 = z ** 2       # square of z 
z2 = pow(z, 2)    # equivalent to square of z
z3 = z ** 0.5     # square root

print(z, z1, z2, z3)

4 16 16 2.0

In [14]:
a = 11
a = a + 3
print(a)

14

In [15]:
a = 11
a += 3
print(a)

14

In [16]:
m = 7.5

m1 = round(m)    # rounding z to its nearest integer 
m2 = int(m)      # type casting float to int

print(m, m1, m2)

7.5 8 7

In [17]:
a = 1
b = 2
c = 3
print(a, b, c)

1 2 3

In [18]:
x, y, z = 1, 2, 3
print(x, y, z)

1 2 3

### Swap Two Variables

#### method 1

In [19]:
a = 10
b = 25
print(a , b)

temp = a
a = b
b = temp
print(a , b)

10 25
25 10

#### method 2

In [20]:
a = 10
b = 25
print(a , b)

a = a + b
b = a - b
a = a - b
print(a , b)

10 25
25 10

#### method 3

In [21]:
a, b = 10, 25
print(a , b)

a, b = b, a
print(a , b)

10 25
25 10

In [22]:
y1 = True
y2 = False

print(y1 and y2)       # logical AND
print(y1 or y2)        # logical OR
print(y1 and not y2)   # logical NOT

False
True
True

## Taking User Input

In [23]:
a = input()

print("vorodi shoma:", a)
print("type vorodi shoma:", type(a))

mahdi
vorodi shoma: mahdi
type vorodi shoma: <class 'str'>

In [24]:
sen = int(input("Lotfan sen khod ra vared konid: "))

print("sen shoma 2 sal digar:", sen + 2)

Lotfan sen khod ra vared konid: 24
sen shoma 2 sal digar: 26

In [25]:
arr = [*map(int, input("adad: ").split() )]

print(arr, type(arr))

adad: 1 2 3 4
[1, 2, 3, 4] <class 'list'>

## Conditional Statements: If else and Nested, If else and elif

In [26]:
# using if-else statement

x = 10

if x % 2 == 0:
    print("x =", x, "is even")
else:
    print("x =", x, "is odd")

if x > 0:
    print("x =", x, "is positive")
elif x < 0:  # else if
    print("x =", x, "is negative")
else:
    print("x =", x, "is neither positive nor negative")

x = 10 is even
x = 10 is positive

In [27]:
sen = int(input("sen: "))

if sen <= 12 :
    print("kodak")
elif 12 < sen <= 18 :
    print("noJavan")
elif 18 < sen <= 40 :
    print("Javan")
else:
    print("mian sal")

sen: 18
noJavan

## Python Collections: List, Tuple, Sets and Dictionary

In [ ]:
#[0]*n

## String Manipulation: Basic Operations, Slicing, Functions and Methods

In [ ]:
s1 = "This"

print(s1[1:])                    # print last three characters 
print(len(s1))                               # get the string length
print("Length of string is " + str(len(s1))) # type casting int to str
print(s1.upper())                            # convert to upper case
print(s1.lower())                            # convert to lower case

s2 = "This is a string"
words = s2.split(' ')             # split the string into words
print(words[0])
print(s2.replace('a','another'))  # replace "a" with "another"
print(s2.replace('is','at'))      # replace "is" with "at"
print(s2.find("a"))               # find the position of "a" in s2
print(s1 in s2)                   # check if s1 is a substring of s2

print(s1 == 'This')               # equality comparison
print(s1 < 'That')                # inequality comparison
print(s2 + " too")                # string concatenation
print((s1 + " ")* 3)              # replicate the string 3 times

## Loops in Python: For Loop, While Loop and Nested Loops

## Break & Continue Statement

## User Defined Functions, Types of Functions

## Lambda Function

## Importing Modules: Maths Module

In [ ]:
import math

x = 4
print(math.sqrt(x))      # sqrt(4) = 2
print(math.pow(x,2))     # 4**2 = 16
print(math.exp(x))       # exp(4) = 54.6
print(math.log(x,2))     # log based 2  (default is natural logarithm)
print(math.fabs(-4))     # absolute value
print(math.factorial(x)) # 4! = 4 x 3 x 2 x 1 = 24

z = 0.2
print(math.ceil(z))      # ceiling function
print(math.floor(z))     # floor function
print(math.trunc(z))     # truncate function

z = 3*math.pi            # math.pi = 3.141592653589793 
print(math.sin(z))       # sine function
print(math.tanh(z))      # arctan function

x = math.nan             # not a number
print(math.isnan(x))

x = math.inf             # infinity
print(math.isinf(x))

## File Operation

In [ ]:
states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
          ('TX', 'Texas', 'Austin'), ('MN', 'Minnesota', 'St Paul')]

with open('states.txt', 'w') as f:
    f.write('\n'.join('%s,%s,%s' % state for state in states))
    
with open('states.txt', 'r') as f:
    for line in f:
        fields = line.split(sep=',')    # split each line into its respective fields
        print('State=',fields[1],'(',fields[0],')','Capital:', fields[2])

## Exception

## Object Oriented Programming in Python

## Fun project
- Telegram or discord bot
- Game
- Automate with Python

## learn python
- https://github.com/gto76/python-cheatsheet
- https://github.com/Asabeneh/30-Days-Of-Python
- https://github.com/trekhleb/learn-python
- https://github.com/wilfredinni/python-cheatsheet


##  A collection of design patterns/idioms in Python 
- https://github.com/faif/python-patterns

##  An open collection of Python anti-patterns and worst practices. 
- https://github.com/quantifiedcode/python-anti-patterns

## 🛁 Clean Code concepts adapted for Python 
- https://github.com/zedr/clean-code-python

##  All Algorithms implemented in Python 
- https://github.com/TheAlgorithms/Python
- https://github.com/keon/algorithms

## interesting
- https://github.com/satwikkansal/wtfpython
- https://github.com/cosmologicon/pywat
- https://github.com/dabeaz-course/practical-python
- https://github.com/brennerm/PyTricks
- https://github.com/asharifiz/Computer_Science_and_Python_for_Highschool_Students
- https://github.com/ine-rmotr-curriculum/FreeCodeCamp-Pandas-Real-Life-Example
- https://github.com/DjangoEx/awesome-python-resources
- https://pyneng.readthedocs.io/en/latest/
- https://inferentialthinking.com/chapters/04/1/Numbers.html

## visualising data structures and algorithms through animation
- https://visualgo.net